$borderColor = white;

html {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(https://dl.dropboxusercontent.com/u/115284/021%20-%20NtJeUBh.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
img {
    flex: 1;
    max-width: 50%;
    border: 5px solid $borderColor;
}